<p id="notice"><%= notice %></p>

<p>
  <strong>製品名</strong>
  <%= @product.name %>
</p>

<p>
  <strong>価格:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
